@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Set the bg color for dark mode globally to prevent flash on load before components mount */
  @layer base {  
    @media (prefers-color-scheme: dark) {
      body {
        @apply bg-slate-950;
      }
    }
  }

.mac-title-bar {
  position: fixed;
  width: 100%;
  top: 0; /* Align it to the top of the viewport */
  z-index: 1000;
}

.main-content {
  padding-top: 1.5rem;
}
